/* Reset de estilos para garantir consistência entre os navegadores */


body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;

}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Estilos específicos para o CreateTaskView */
.create-task-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input,
textarea {
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  width: 30%;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos específicos para o ListTasksView */
.task-list-container {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-item {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* ./view/listTasks.css */

/* Estilo para o componente ListTasksView */
.list-tasks-container {
  margin: 20px;
}

.list-tasks-category {
  margin-bottom: 10px;
}

.list-tasks-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.list-tasks-table th, .list-tasks-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.list-tasks-table th {
  background-color: #f2f2f2;
}

.list-tasks-delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.list-tasks-delete-button:hover {
  background-color: #d32f2f;
}
